/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 14, ../scss/abstract/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 32, ../scss/abstract/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 44, ../scss/abstract/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 53, ../scss/abstract/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 69, ../scss/abstract/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 79, ../scss/abstract/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 91, ../scss/abstract/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 104, ../scss/abstract/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../scss/abstract/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 128, ../scss/abstract/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 133, ../scss/abstract/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 138, ../scss/abstract/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 143, ../scss/abstract/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 148, ../scss/abstract/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 153, ../scss/abstract/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 162, ../scss/abstract/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../scss/abstract/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 175, ../scss/abstract/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 183, ../scss/abstract/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 191, ../scss/abstract/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../scss/abstract/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, ../scss/abstract/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 223, ../scss/abstract/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 236, ../scss/abstract/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../scss/abstract/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 248, ../scss/abstract/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../scss/abstract/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 265, ../scss/abstract/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 269, ../scss/abstract/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 282, ../scss/abstract/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 289, ../scss/abstract/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 297, ../scss/abstract/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../scss/abstract/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 324, ../scss/abstract/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 333, ../scss/abstract/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 346, ../scss/abstract/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 359, ../scss/abstract/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 367, ../scss/abstract/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 379, ../scss/abstract/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 392, ../scss/abstract/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../scss/abstract/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 418, ../scss/abstract/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../scss/abstract/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../scss/abstract/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 456, ../scss/abstract/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../scss/abstract/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../scss/abstract/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 488, ../scss/abstract/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 502, ../scss/abstract/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'nexa rust sans';
  src: url("../fonts/nexarustsans-black-webfont.woff2") format("woff2"), url("../fonts/nexarustsans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nexa rust slab';
  src: url("../fonts/nexarustslab-blackshadow01-webfont.woff2") format("woff2"), url("../fonts/nexarustslab-blackshadow01-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'goudy bookletter 1911';
  src: url("../fonts/goudybookletter1911-webfont.woff2") format("woff2"), url("../fonts/goudybookletter1911-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yesteryear';
  src: url("../fonts/yesteryear-regular-webfont.woff2") format("woff2"), url("../fonts/yesteryear-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../scss/base/_base.scss */
[data-useragent*="MSIE 9"] body {
  min-width: 1280px;
}

/* line 19, ../scss/base/_base.scss */
body {
  font-family: "goudy bookletter 1911";
  font-weight: lighter;
  text-align: center;
  font-size: 16px;
}

/* line 26, ../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin: 0;
}

/* line 31, ../scss/base/_base.scss */
p {
  font-size: 1.5rem;
  line-height: 1.7;
}
@media screen and (max-width: 680px) {
  /* line 31, ../scss/base/_base.scss */
  p {
    font-size: 1.25rem;
  }
}

/* line 40, ../scss/base/_base.scss */
address {
  display: inline-block;
  font-style: normal;
}

/* line 45, ../scss/base/_base.scss */
.upgrade-notice {
  display: none;
}

/* line 49, ../scss/base/_base.scss */
.container {
  margin: 0 auto;
  max-width: 1280px;
}
/* line 53, ../scss/base/_base.scss */
.container.flex-container {
  display: flex;
  width: 100%;
}
/* line 57, ../scss/base/_base.scss */
.container.flex-container > * {
  flex: 1 1 auto;
}

/* line 65, ../scss/base/_base.scss */
.flex-column.main-column {
  padding-right: 10%;
}

@supports (display: flex) {
  /* line 71, ../scss/base/_base.scss */
  .flex-column {
    display: block;
  }
}
/* line 76, ../scss/base/_base.scss */
.btn {
  background: #c9362e;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-family: 'nexa rust sans';
  font-size: 1.25rem;
  text-decoration: none;
  padding: .5rem 2rem;
}

/* line 89, ../scss/base/_base.scss */
.btn-large {
  border-radius: 7px;
  font-size: 2.25rem;
  padding: .5rem 4.5rem;
}
@media screen and (max-width: 680px) {
  /* line 89, ../scss/base/_base.scss */
  .btn-large {
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }
}

/* line 100, ../scss/base/_base.scss */
.btn-script {
  font-family: "yesteryear";
}

/* line 4, ../scss/components/_site-header.scss */
.site-header {
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 860px) {
  /* line 4, ../scss/components/_site-header.scss */
  .site-header {
    display: flex;
    align-items: center;
    background: #c9362e;
  }
}

/* line 15, ../scss/components/_site-header.scss */
.logo-container {
  box-sizing: border-box;
  box-shadow: 0 0 0 5px white inset, 0 2px 20px rgba(0, 0, 0, 0.25);
  background: #c9362e;
  display: inline-block;
  width: 300px;
  padding: 15px 30px;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -150px;
}
/* line 30, ../scss/components/_site-header.scss */
.logo-container img {
  width: 100%;
}
@media screen and (max-width: 860px) {
  /* line 15, ../scss/components/_site-header.scss */
  .logo-container {
    flex: 1 0 20vw;
    position: relative;
    top: auto;
    left: auto;
    box-shadow: none;
    min-width: 125px;
    padding: 3vw;
    margin-left: 0;
    min-width: 100px;
    max-width: 20vw;
  }
}

/* line 1, ../scss/components/_main-nav.scss */
.main-nav {
  box-sizing: border-box;
  background: white;
  padding: .85rem 1rem;
}
/* line 6, ../scss/components/_main-nav.scss */
.main-nav .flex-container {
  align-items: center;
}
/* line 10, ../scss/components/_main-nav.scss */
.main-nav .btn {
  flex-basis: 25% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}
@media screen and (max-width: 1240px) {
  /* line 10, ../scss/components/_main-nav.scss */
  .main-nav .btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1090px) {
  /* line 10, ../scss/components/_main-nav.scss */
  .main-nav .btn {
    font-size: .85rem;
  }
}
@media screen and (max-width: 1010px) {
  /* line 10, ../scss/components/_main-nav.scss */
  .main-nav .btn {
    font-size: .75rem;
  }
}
@media screen and (max-width: 945px) {
  /* line 10, ../scss/components/_main-nav.scss */
  .main-nav .btn {
    flex-basis: 20% !important;
    font-size: .75rem;
  }
}
@media screen and (max-width: 860px) {
  /* line 10, ../scss/components/_main-nav.scss */
  .main-nav .btn {
    background: white;
    color: #c9362e;
  }
}
@media screen and (max-width: 580px) {
  /* line 10, ../scss/components/_main-nav.scss */
  .main-nav .btn {
    border-bottom: 1px solid #c9362e;
    border-radius: 0;
    font-size: 1.25rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 860px) {
  /* line 1, ../scss/components/_main-nav.scss */
  .main-nav {
    background: #c9362e;
    flex: 1 0 auto;
  }
}
@media screen and (max-width: 580px) {
  /* line 1, ../scss/components/_main-nav.scss */
  .main-nav {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 0;
  }
  /* line 66, ../scss/components/_main-nav.scss */
  .main-nav .flex-container {
    flex-direction: column;
    align-items: stretch;
  }
  /* line 70, ../scss/components/_main-nav.scss */
  .main-nav .flex-container > * {
    min-height: 44px;
  }
  /* line 73, ../scss/components/_main-nav.scss */
  .main-nav .flex-container > *.btn {
    min-height: 60px;
  }
  /* line 79, ../scss/components/_main-nav.scss */
  .nav-expanded .main-nav {
    height: auto;
  }
}

/* line 85, ../scss/components/_main-nav.scss */
.main-nav-link {
  color: #c9362e;
  display: inline-block;
  font-family: "yesteryear";
  font-size: 1.875rem;
  font-weight: lighter;
  flex-basis: 25% !important;
  text-decoration: none;
}
/* line 94, ../scss/components/_main-nav.scss */
.main-nav-link:nth-child(2n) {
  margin-right: 150px;
}
/* line 98, ../scss/components/_main-nav.scss */
.main-nav-link:nth-child(3n) {
  margin-left: 150px;
}
/* line 102, ../scss/components/_main-nav.scss */
.main-nav-link span {
  position: relative;
}
/* line 105, ../scss/components/_main-nav.scss */
.main-nav-link span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0.3rem;
  left: -4px;
  width: 105%;
  height: 3px;
  background: #c9362e;
  opacity: 0;
  transition-property: opacity transform;
  transition-duration: 0.2s;
  transform: translate3d(0, 0.5rem, 0);
}
/* line 123, ../scss/components/_main-nav.scss */
.main-nav-link.active span:before, .main-nav-link:hover span:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 860px) {
  /* line 85, ../scss/components/_main-nav.scss */
  .main-nav-link {
    color: white;
  }
  /* line 132, ../scss/components/_main-nav.scss */
  .main-nav-link span:before {
    background-color: white;
  }
  /* line 136, ../scss/components/_main-nav.scss */
  .main-nav-link:nth-child(2) {
    margin-right: 0;
  }
  /* line 140, ../scss/components/_main-nav.scss */
  .main-nav-link:nth-child(3) {
    margin-left: 0;
  }
}
@media screen and (max-width: 580px) {
  /* line 85, ../scss/components/_main-nav.scss */
  .main-nav-link {
    padding: 0.5rem 0;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5) inset;
  }
}

/* line 151, ../scss/components/_main-nav.scss */
.mobile-nav-trigger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  transition: transform .3s;
  transform: rotate(0);
  outline: none;
  width: 95px;
  box-sizing: border-box;
  padding: 2rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
/* line 167, ../scss/components/_main-nav.scss */
.mobile-nav-trigger img {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
/* line 172, ../scss/components/_main-nav.scss */
.mobile-nav-trigger .mobile-nav-close {
  display: none;
}
/* line 176, ../scss/components/_main-nav.scss */
.nav-expanded .mobile-nav-trigger {
  transform: rotate(225deg);
}
@media screen and (max-width: 580px) {
  /* line 151, ../scss/components/_main-nav.scss */
  .mobile-nav-trigger {
    display: block;
  }
}

/* line 1, ../scss/components/_page.scss */
.site-header {
  position: relative;
  z-index: 100;
}

/* line 6, ../scss/components/_page.scss */
.site-page {
  position: relative;
  z-index: 50;
}

/* line 11, ../scss/components/_page.scss */
.site-footer {
  position: relative;
  z-index: 100;
}

/* line 16, ../scss/components/_page.scss */
.page-header {
  background-size: cover;
  background-position: center;
  padding: 18.75rem 10vw 8.125rem;
  position: relative;
}
/* line 22, ../scss/components/_page.scss */
.page-header.compact {
  padding-top: 15rem;
}
/* line 25, ../scss/components/_page.scss */
.page-header.compact .page-title {
  margin-bottom: 0;
}
@media screen and (max-width: 860px) {
  /* line 22, ../scss/components/_page.scss */
  .page-header.compact {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 680px) {
  /* line 22, ../scss/components/_page.scss */
  .page-header.compact {
    padding-top: 5rem;
  }
}
/* line 38, ../scss/components/_page.scss */
.page-header > * {
  position: relative;
  z-index: 10;
}
/* line 43, ../scss/components/_page.scss */
.page-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 32, 0.75);
  z-index: 5;
}
@media screen and (max-width: 680px) {
  /* line 16, ../scss/components/_page.scss */
  .page-header {
    padding: 4rem 2rem;
  }
}

/* line 59, ../scss/components/_page.scss */
.page-title {
  color: white;
  font-size: 3.25rem;
  font-family: "nexa rust sans";
  letter-spacing: 2px;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}
/* line 66, ../scss/components/_page.scss */
.page-title .highlight {
  color: #c9362e;
}
@media screen and (max-width: 680px) {
  /* line 59, ../scss/components/_page.scss */
  .page-title {
    font-size: 1.5rem;
  }
}

/* line 75, ../scss/components/_page.scss */
.page-subtitle {
  color: white;
  font-family: "yesteryear";
  font-size: 2.25rem;
  line-height: 1.25em;
  margin: 0;
}
@media screen and (max-width: 860px) {
  /* line 75, ../scss/components/_page.scss */
  .page-subtitle {
    font-size: 1.5rem;
  }
}

/* line 87, ../scss/components/_page.scss */
.page-intro {
  border-bottom: 1px solid #c9362e;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}
/* line 93, ../scss/components/_page.scss */
.page-intro p {
  text-align: inherit !important;
}
/* line 96, ../scss/components/_page.scss */
.page-intro p:last-child {
  margin-bottom: 0;
}

/* line 102, ../scss/components/_page.scss */
.page-block {
  padding: 5.5rem;
}
/* line 105, ../scss/components/_page.scss */
.page-block.google-map {
  padding: 0;
}
/* line 109, ../scss/components/_page.scss */
.page-block p {
  text-align: left;
}
@media screen and (max-width: 860px) {
  /* line 102, ../scss/components/_page.scss */
  .page-block {
    padding: 3.5rem;
  }
}
@media screen and (max-width: 680px) {
  /* line 102, ../scss/components/_page.scss */
  .page-block {
    padding: 2.5rem;
  }
  /* line 120, ../scss/components/_page.scss */
  .page-block p {
    text-align: center;
  }
}

/* line 126, ../scss/components/_page.scss */
.page-block-heading {
  color: #c9362e;
  font-family: "nexa rust sans";
  font-size: 2.25rem;
  margin-bottom: 3rem;
}
/* line 132, ../scss/components/_page.scss */
.page-block-heading.script {
  font-family: 'yesteryear';
}
@media screen and (max-width: 680px) {
  /* line 126, ../scss/components/_page.scss */
  .page-block-heading {
    margin-bottom: 1.75rem;
    font-size: 1.5rem;
  }
}

/* line 142, ../scss/components/_page.scss */
.script-heading {
  color: #c9362e;
  display: flex;
  align-items: center;
  font-family: "yesteryear";
  font-size: 3rem;
}
/* line 149, ../scss/components/_page.scss */
.script-heading:before, .script-heading:after {
  content: "";
  background-color: #c9362e;
  flex: 1 1 auto;
  height: 1px;
}
@media screen and (max-width: 680px) {
  /* line 142, ../scss/components/_page.scss */
  .script-heading {
    font-size: 2rem;
  }
}

/* line 162, ../scss/components/_page.scss */
.script-heading-text {
  background: white;
  padding: 0 2rem;
}

/* line 167, ../scss/components/_page.scss */
.page-block-intro {
  position: relative;
  max-width: 960px;
  margin: 0 auto 4.5rem;
  padding-bottom: 4.5rem;
}
/* line 173, ../scss/components/_page.scss */
.page-block-intro:after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -37%;
}
@media screen and (max-width: 680px) {
  /* line 167, ../scss/components/_page.scss */
  .page-block-intro {
    margin: 0 auto 4rem;
    padding-bottom: 3rem;
  }
}

/* line 191, ../scss/components/_page.scss */
p.small-text {
  font-size: 1.125rem;
}

/* line 195, ../scss/components/_page.scss */
.callout-link {
  background-image: url("../images/chevron-right-white.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
  color: white;
  display: inline-block;
  font-family: "nexa rust sans";
  font-size: 1.5rem;
  line-height: 1.65rem;
  padding-right: 2.5rem;
  text-decoration: none;
  transition: padding 0.15s;
}
/* line 209, ../scss/components/_page.scss */
.callout-link:hover {
  padding-right: 2.75rem;
}

/* line 1, ../scss/components/_sidebar-nav.scss */
.sidebar-nav {
  background-color: white;
  font-family: 'nexa rust sans';
  text-align: left;
  margin-bottom: 4rem;
}
/* line 7, ../scss/components/_sidebar-nav.scss */
.sidebar-nav.is_stuck {
  font-size: 14px;
}

/* line 12, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-heading {
  background-color: #c9362e;
  border-radius: 4px 4px 0 0;
  color: white;
  font-size: 1.3rem;
  padding: 1.15rem 1.5rem;
}

/* line 20, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-links {
  margin: 0;
  padding: 0;
}

/* line 25, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-link {
  list-style-type: none;
  margin: 0;
}
/* line 29, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-link a {
  background-color: #e9e9e9;
  background-image: url("../images/chevron-right-gray.svg");
  background-position: 93% center;
  background-repeat: no-repeat;
  color: #656565;
  display: block;
  font-size: 1.125rem;
  margin-top: 3px;
  padding: 1rem 1.5rem;
  text-decoration: none;
}
/* line 41, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-link a:hover {
  background-color: #dcdcdc;
  background-image: url("../images/chevron-right-red.svg");
  color: #c9362e;
}
/* line 48, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-link.--highlight a {
  background-color: #c9362e;
  background-image: url("../images/chevron-right-white.svg");
  color: white;
}
/* line 53, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-link.--highlight a:hover {
  background-color: #dc362d;
  background-image: url("../images/chevron-right-white.svg");
  color: white;
}
/* line 60, ../scss/components/_sidebar-nav.scss */
.sidebar-nav-link:last-child a {
  border-radius: 0 0 4px 4px;
}

/* line 1, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-block {
  align-items: center;
}
/* line 4, ../scss/components/_page-intro-secondary-block.scss */
.flex-container .page-intro-secondary-block {
  flex: 1 1 25%;
}
/* line 8, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-block.left {
  border-right: 2px solid #ddd;
  padding-right: 2rem;
  text-align: right;
}
/* line 14, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-block.right {
  padding-left: 2rem;
  text-align: left;
}

/* line 20, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-heading {
  color: #363636;
  font-family: 'nexa rust sans';
  font-size: 1.5rem;
}

/* line 26, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-text {
  line-height: 1;
  text-align: inherit !important;
}

/* line 31, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-cta {
  color: #c9362e;
  display: block;
  font-family: 'Goudy Bookletter 1911';
  font-size: 1.75rem;
  margin-bottom: .5rem;
  text-decoration: none;
}
/* line 39, ../scss/components/_page-intro-secondary-block.scss */
.page-intro-secondary-cta:hover {
  text-decoration: underline;
}

/* line 1, ../scss/components/_animal-grid.scss */
.animal-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

/* line 9, ../scss/components/_animal-grid.scss */
.animal {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  flex: 1 1 40%;
  max-width: 400px;
  margin-bottom: 2rem;
}
/* line 17, ../scss/components/_animal-grid.scss */
.animal.--crab {
  background-size: 75%;
}
/* line 21, ../scss/components/_animal-grid.scss */
.animal.--bacon, .animal.--crab {
  padding-top: 1rem;
}
/* line 27, ../scss/components/_animal-grid.scss */
.animal p {
  text-align: center;
}
@media screen and (max-width: 700px) {
  /* line 9, ../scss/components/_animal-grid.scss */
  .animal {
    max-width: none;
  }
}
@media screen and (min-width: 701px) and (max-width: 1065px) {
  /* line 36, ../scss/components/_animal-grid.scss */
  .animal:nth-child(2n) {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 701px) and (max-width: 768px) {
  /* line 42, ../scss/components/_animal-grid.scss */
  .animal:nth-child(2n) {
    margin-left: 3rem;
  }
}

/* line 48, ../scss/components/_animal-grid.scss */
.animal-title {
  color: #c9362e;
  font-family: "nexa rust slab";
  font-size: 1.875rem;
  margin: 3.5rem 0 5rem;
}

@media screen and (max-width: 700px) {
  /* line 57, ../scss/components/_animal-grid.scss */
  .animal {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 550px) {
  /* line 65, ../scss/components/_animal-grid.scss */
  .animal-title {
    font-size: 1.5rem;
    margin: 2rem 0 4rem;
  }

  /* line 72, ../scss/components/_animal-grid.scss */
  .animal.--chicken .animal-title {
    margin-top: 5rem;
    margin-bottom: 0rem !important;
  }
  /* line 77, ../scss/components/_animal-grid.scss */
  .animal.--lamb .animal-title {
    margin: 4rem 0 2rem;
  }
  /* line 81, ../scss/components/_animal-grid.scss */
  .animal.--seafood .animal-title {
    margin: 3rem 0 2rem;
  }
}
/* line 1, ../scss/components/_prepared-foods.scss */
.page-block.prepared-foods {
  background-image: url("../images/shrimp-dish.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: left;
}
/* line 8, ../scss/components/_prepared-foods.scss */
.page-block.prepared-foods:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 19, ../scss/components/_prepared-foods.scss */
.page-block.prepared-foods .container {
  max-width: 860px;
  position: relative;
  z-index: 10;
}
/* line 25, ../scss/components/_prepared-foods.scss */
.page-block.prepared-foods .page-block-heading {
  color: white;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}
/* line 31, ../scss/components/_prepared-foods.scss */
.page-block.prepared-foods p {
  color: white;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 680px) {
  /* line 41, ../scss/components/_prepared-foods.scss */
  .page-block.prepared-foods p {
    text-align: left !important;
  }
  /* line 45, ../scss/components/_prepared-foods.scss */
  .page-block.prepared-foods .callout-link {
    background-size: auto 50%;
    background-position: center right;
    font-size: 1.25rem;
    padding-right: 3.5rem;
  }
}

/* line 1, ../scss/components/_google-map.scss */
.page-block.google-map {
  background: #e5e3df;
  position: relative;
}

/* line 6, ../scss/components/_google-map.scss */
.map-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  color: #888;
  font-size: 1.5rem;
  font-family: sans-serif;
}

/* line 21, ../scss/components/_google-map.scss */
.google-map-iframe {
  background: transparent;
  width: 100%;
  height: 75vh !important;
  min-height: 200px;
  margin-bottom: -4px;
  position: relative;
  z-index: 10;
}

/* line 1, ../scss/components/_order-online-block.scss */
.order-online-block {
  background-image: url("../images/brown-paper-portrait.jpg");
  background-size: cover;
  box-sizing: border-box;
  min-width: 315px;
  padding: 2.25rem;
}
/* line 8, ../scss/components/_order-online-block.scss */
.order-online-block .btn {
  font-size: 1.1rem;
  padding: 1rem;
}
@media screen and (max-width: 780px) {
  /* line 1, ../scss/components/_order-online-block.scss */
  .order-online-block {
    min-width: 0;
  }
}

/* line 18, ../scss/components/_order-online-block.scss */
.order-online-header {
  color: #492e17;
  font-family: "nexa rust slab";
  font-size: 2.25rem;
}
/* line 23, ../scss/components/_order-online-block.scss */
.order-online-header .and {
  font-family: "yesteryear";
  font-size: 3rem;
}
/* line 28, ../scss/components/_order-online-block.scss */
.order-online-header .dash {
  color: #c9362e;
  font-family: sans-serif;
}

/* line 34, ../scss/components/_order-online-block.scss */
p.order-online-text {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3rem;
}

/* line 1, ../scss/components/_order-form.scss */
.order-form {
  text-align: left;
}
/* line 4, ../scss/components/_order-form.scss */
.order-form .fieldset-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #c9362e;
  padding-bottom: 0.25rem;
  margin-bottom: 2rem;
  width: 100%;
}
@media screen and (max-width: 620px) {
  /* line 4, ../scss/components/_order-form.scss */
  .order-form .fieldset-heading {
    flex-direction: column;
    align-items: center;
  }
  /* line 17, ../scss/components/_order-form.scss */
  .order-form .fieldset-heading .legend-heading {
    min-height: 25px;
  }
  /* line 21, ../scss/components/_order-form.scss */
  .order-form .fieldset-heading .legend-subheading {
    min-height: 25px;
  }
}
/* line 27, ../scss/components/_order-form.scss */
.order-form .legend-heading {
  flex: 1 1 50%;
  color: #c9362e;
  font-family: 'nexa rust slab';
  font-size: 2.5rem;
  line-height: 1;
}
@media screen and (max-width: 575px) {
  /* line 27, ../scss/components/_order-form.scss */
  .order-form .legend-heading {
    font-size: 1.75rem;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  /* line 27, ../scss/components/_order-form.scss */
  .order-form .legend-heading {
    font-size: 1.4rem;
  }
}
/* line 44, ../scss/components/_order-form.scss */
.order-form .legend-subheading {
  flex: 1 1 50%;
  color: #c9362e;
  font-family: "yesteryear";
  font-size: 1.5rem;
  text-align: right;
}
@media screen and (max-width: 450px) {
  /* line 44, ../scss/components/_order-form.scss */
  .order-form .legend-subheading {
    font-size: 1.15rem;
    text-align: center;
  }
}
/* line 57, ../scss/components/_order-form.scss */
.order-form fieldset {
  border: none;
  padding: 0;
  margin-bottom: 4rem;
}
/* line 63, ../scss/components/_order-form.scss */
.order-form .form-group-collection {
  margin-bottom: 1.5rem;
}
/* line 66, ../scss/components/_order-form.scss */
.order-form .form-group-collection:last-child {
  margin-bottom: 0;
}

/* line 72, ../scss/components/_order-form.scss */
.order-form-subheading {
  font-family: "yesteryear";
  font-size: 2.15rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

/* line 79, ../scss/components/_order-form.scss */
.form-group.item {
  box-sizing: border-box;
  background-color: #e9e9e9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  padding-top: 1rem;
  margin-bottom: .35rem;
  width: 100%;
}
@media screen and (max-width: 450px) {
  /* line 79, ../scss/components/_order-form.scss */
  .form-group.item {
    padding: 1rem;
    padding-top: 0.5rem;
  }
}
/* line 96, ../scss/components/_order-form.scss */
.form-group.item [type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 6px;
  margin-right: 1rem;
}
/* line 105, ../scss/components/_order-form.scss */
.form-group.item [type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #fff;
  box-shadow: 1px 1px 0 #ccc inset;
}
/* line 117, ../scss/components/_order-form.scss */
.form-group.item [type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  background-image: url("../images/x-red.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
/* line 131, ../scss/components/_order-form.scss */
.form-group.item [type="checkbox"]:checked:after {
  opacity: 0;
}
/* line 135, ../scss/components/_order-form.scss */
.form-group.item [type="checkbox"]:checked:before {
  opacity: 1;
}
/* line 140, ../scss/components/_order-form.scss */
.form-group.item:first-child {
  border-radius: 4px 4px 0 0;
}
/* line 144, ../scss/components/_order-form.scss */
.form-group.item:last-child {
  border-radius: 0 0 4px 4px;
  margin-bottom: 0;
}

/* line 150, ../scss/components/_order-form.scss */
.label-text {
  color: #323232;
  font-size: 1.5rem;
}

/* line 155, ../scss/components/_order-form.scss */
.form-group-detail {
  color: #575757;
  font-style: italic;
  margin-top: 1rem;
}
@media screen and (max-width: 450px) {
  /* line 155, ../scss/components/_order-form.scss */
  .form-group-detail {
    margin-top: 0.5rem;
  }
}

/* line 165, ../scss/components/_order-form.scss */
.form-group-drawer {
  background: #dcdcdc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 650px) {
  /* line 165, ../scss/components/_order-form.scss */
  .form-group-drawer {
    display: block;
    padding-left: 1.5rem !important;
  }
  /* line 180, ../scss/components/_order-form.scss */
  .form-group-drawer label {
    display: block;
    margin-bottom: 0.5rem;
  }
}
/* line 186, ../scss/components/_order-form.scss */
.form-group-drawer.visible {
  height: auto;
  padding: 1.5rem 1.5rem 1.5rem 4.5rem;
  top: 1.25rem;
  left: -1.2rem;
  width: calc(100% + 2.4rem);
}
@media screen and (max-width: 450px) {
  /* line 165, ../scss/components/_order-form.scss */
  .form-group-drawer {
    width: calc(100% + 1.9rem) !important;
    left: -15px !important;
    top: 1rem !important;
  }
}
/* line 200, ../scss/components/_order-form.scss */
.form-group-drawer label {
  color: #696969;
  font-size: 1.25rem;
  margin-right: 1rem;
}

/* line 207, ../scss/components/_order-form.scss */
input[type="text"],
.text-field {
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 0 #ccc inset;
  font-family: 'goudy bookletter 1911';
  padding: .7rem 1rem .5rem;
  flex: 1;
  width: 100%;
}
/* line 218, ../scss/components/_order-form.scss */
input[type="text"]::placeholder-shown,
.text-field::placeholder-shown {
  font-style: italic;
}

/* line 223, ../scss/components/_order-form.scss */
.customer-info {
  background-image: url("../images/dashed-divider.svg");
  background-repeat: repeat-x;
  background-position: top left;
  margin-top: 4rem;
  padding-top: 4rem !important;
}

/* line 231, ../scss/components/_order-form.scss */
.customer-info-heading {
  color: #c9362e;
  font-family: 'nexa rust sans';
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* line 238, ../scss/components/_order-form.scss */
.customer-info-fields {
  background-color: #e9e9e9;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 1.75rem 2.5rem;
  position: relative;
}
/* line 245, ../scss/components/_order-form.scss */
.customer-info-fields:after {
  content: "";
  display: table;
  clear: both;
}
/* line 249, ../scss/components/_order-form.scss */
.customer-info-fields .form-group {
  margin-bottom: 1rem;
}
/* line 254, ../scss/components/_order-form.scss */
.customer-info-fields label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
/* line 272, ../scss/components/_order-form.scss */
.customer-info-fields [type="submit"] {
  float: right;
  margin-top: 1rem;
}

/* line 1, ../scss/components/_site-footer.scss */
.site-footer {
  background: #c9362e;
  color: white;
  padding: 2.5rem 0 4rem;
}
/* line 6, ../scss/components/_site-footer.scss */
.site-footer .flex-column {
  flex-basis: 33% !important;
}
/* line 9, ../scss/components/_site-footer.scss */
.site-footer .flex-column:nth-child(2n) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 16, ../scss/components/_site-footer.scss */
.site-footer a {
  color: white;
  display: inline-block;
  text-decoration: none;
}
/* line 21, ../scss/components/_site-footer.scss */
.site-footer a:hover address {
  text-decoration: underline;
}

/* line 27, ../scss/components/_site-footer.scss */
.footer-section {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 2.75rem;
}
/* line 32, ../scss/components/_site-footer.scss */
.footer-section:last-child {
  margin-bottom: 0;
}

/* line 37, ../scss/components/_site-footer.scss */
.footer-section-heading {
  font-size: 1.25rem;
  font-family: 'nexa rust sans';
}

/* line 42, ../scss/components/_site-footer.scss */
.hours-row {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25;
}

/* line 48, ../scss/components/_site-footer.scss */
.hours-label {
  display: inline-block;
  width: 11rem;
}

/* line 53, ../scss/components/_site-footer.scss */
.footer-logo {
  background: #c9362e;
  box-sizing: border-box;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  padding: 50px 70px 35px;
  position: relative;
  margin-top: -6rem;
  width: 350px;
}
/* line 64, ../scss/components/_site-footer.scss */
.footer-logo img {
  width: 100%;
}

/* line 69, ../scss/components/_site-footer.scss */
.footer-contact-info {
  color: white;
  font-family: 'nexa rust sans';
  font-size: 1.125rem;
  text-decoration: none;
}

/* line 76, ../scss/components/_site-footer.scss */
.social-links-heading {
  font-family: 'nexa rust sans';
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: inline-block;
}
/* line 85, ../scss/components/_site-footer.scss */
.social-links-heading .or {
  color: #ffa8a8;
  font-family: "yesteryear";
  font-size: 2.25rem;
  line-height: .75;
}

/* line 93, ../scss/components/_site-footer.scss */
.social-links a {
  margin-right: 1.5rem;
}
/* line 96, ../scss/components/_site-footer.scss */
.social-links a:last-child {
  margin-right: 0;
}

/* line 101, ../scss/components/_site-footer.scss */
.copyright-text {
  color: #c9362e;
  font-size: 1rem;
  margin: .6rem 0 0;
}
/* line 106, ../scss/components/_site-footer.scss */
.copyright-text a {
  color: #c9362e;
}
/* line 110, ../scss/components/_site-footer.scss */
.copyright-text:last-child {
  margin-top: 0;
  margin-bottom: 0.6rem;
}
/* line 115, ../scss/components/_site-footer.scss */
.copyright-text br {
  display: none;
}
@media screen and (max-width: 425px) {
  /* line 115, ../scss/components/_site-footer.scss */
  .copyright-text br {
    display: block;
  }
}

@media screen and (max-width: 930px) {
  /* line 124, ../scss/components/_site-footer.scss */
  .site-footer {
    padding-top: 0;
  }
  /* line 129, ../scss/components/_site-footer.scss */
  .site-footer .flex-container {
    flex-direction: column;
    align-items: center;
  }
  /* line 134, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: stretch;
    padding-top: 3rem;
  }
  /* line 140, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .footer-section {
    flex-basis: 50%;
    padding: 0.5rem 0;
  }
  /* line 144, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .footer-section:nth-child(1) {
    text-align: right;
    padding-right: 2rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
  }
  /* line 151, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .footer-section:nth-child(2) {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 930px) and (max-width: 700px) {
  /* line 134, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) {
    flex-direction: column;
    min-height: 250px;
  }
  /* line 160, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .footer-section {
    padding: 0 !important;
    text-align: center !important;
    border: none;
  }
  /* line 165, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .footer-section:nth-child(1) {
    margin-bottom: 2rem;
    min-height: 100px;
  }
  /* line 170, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .footer-section:nth-child(2) {
    min-height: 120px;
  }
  /* line 175, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .hours-row {
    margin-right: 1rem;
  }
  /* line 178, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .hours-row:nth-child(3) .hours-label {
    margin-left: 4rem;
  }
  /* line 182, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .hours-row:nth-child(4) .hours-label {
    margin-left: 2rem;
  }
  /* line 187, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(1) .hours-label {
    width: auto;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 930px) {
  /* line 194, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(2) {
    order: -1;
    min-height: 340px;
  }
}
@media screen and (max-width: 930px) and (max-width: 700px) {
  /* line 200, ../scss/components/_site-footer.scss */
  .site-footer .flex-column:nth-child(3) {
    min-height: 225px;
  }
}
@media screen and (max-width: 930px) {
  /* line 206, ../scss/components/_site-footer.scss */
  .site-footer .footer-logo {
    margin-top: 0;
  }
}

/* line 1, ../scss/components/_upgrade-notice.scss */
.upgrade-notice {
  display: none;
}

/* line 7, ../scss/components/_upgrade-notice.scss */
[data-useragent*="MSIE 9.0"] .upgrade-notice {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  z-index: 999999;
}
/* line 18, ../scss/components/_upgrade-notice.scss */
[data-useragent*="MSIE 9.0"] .upgrade-notice .container {
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 3rem;
  width: 850px;
  margin-top: 75px;
  display: inline-block;
  position: relative;
}
/* line 29, ../scss/components/_upgrade-notice.scss */
[data-useragent*="MSIE 9.0"] .upgrade-notice .close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 23px;
  background: #c9362e;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  top: -7px;
  right: -7px;
}

/* line 1, ../scss/components/_mobile-page-nav.scss */
.mobile-page-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 20px;
  right: 20px;
  background: white;
  border: 1px solid #bbb;
  border-top: none;
  box-sizing: border-box;
  padding: 0 15px;
  border-radius: 0 0 5px 5px;
  z-index: 99999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, -65px, 0);
  transition: transform 0.25s;
}
@media screen and (max-width: 945px) {
  /* line 1, ../scss/components/_mobile-page-nav.scss */
  .mobile-page-nav {
    display: block;
  }
}
/* line 22, ../scss/components/_mobile-page-nav.scss */
.mobile-page-nav.visible {
  transform: translate3d(0, 0, 0);
}
/* line 26, ../scss/components/_mobile-page-nav.scss */
.mobile-page-nav select {
  border: none;
  background: transparent;
  width: 100%;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
  font-family: "nexa rust sans";
  font-size: 1.1em;
  color: #555;
}
/* line 37, ../scss/components/_mobile-page-nav.scss */
.mobile-page-nav select option {
  color: #888;
}
/* line 40, ../scss/components/_mobile-page-nav.scss */
.mobile-page-nav select option span {
  font-family: sans-serif;
  font-weight: bold;
}
/* line 46, ../scss/components/_mobile-page-nav.scss */
.mobile-page-nav select option:last-child {
  color: #c9362e;
}

/* line 7, ../scss/pages/_home.scss */
.page-home .page-header {
  background-image: url("../images/marbled-beef-1800w.jpg");
}
/* line 10, ../scss/pages/_home.scss */
.page-home .page-header .btn-large {
  font-size: 1.75rem;
}
@media screen and (min-width: 681px) and (max-width: 860px) {
  /* line 7, ../scss/pages/_home.scss */
  .page-home .page-header {
    padding-top: 10rem;
  }
}
/* line 19, ../scss/pages/_home.scss */
.page-home .page-title {
  margin-bottom: 6.25rem;
}
@media screen and (max-width: 1010px) {
  /* line 19, ../scss/pages/_home.scss */
  .page-home .page-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 680px) {
  /* line 19, ../scss/pages/_home.scss */
  .page-home .page-title {
    margin-bottom: 3rem;
  }
}
/* line 31, ../scss/pages/_home.scss */
.page-home br.show-small {
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 37, ../scss/pages/_home.scss */
  .page-home br.show-small {
    display: block;
  }
  /* line 41, ../scss/pages/_home.scss */
  .page-home br.show-large {
    display: none;
  }
}

/* line 6, ../scss/pages/_about.scss */
.page-about .page-header {
  background-image: url("../images/cattle-grazing-1800w.jpg");
}
@media screen and (max-width: 780px) {
  /* line 13, ../scss/pages/_about.scss */
  .page-about .page-block .flex-container {
    flex-direction: column;
  }
  /* line 17, ../scss/pages/_about.scss */
  .page-about .page-block .main-column {
    padding-right: 0;
    margin-bottom: 3rem;
  }
}

/* line 3, ../scss/pages/_menu.scss */
.page-menu .page-header {
  background-image: url("../images/brown-paper-dark-1440w.jpg");
}
/* line 6, ../scss/pages/_menu.scss */
.page-menu .page-header:before {
  display: none;
}
/* line 11, ../scss/pages/_menu.scss */
.page-menu .page-title {
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
/* line 15, ../scss/pages/_menu.scss */
.page-menu .page-block {
  padding-bottom: 0;
}
@media screen and (max-width: 1160px) {
  /* line 19, ../scss/pages/_menu.scss */
  .page-menu .page-block .main-column {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 945px) {
  /* line 26, ../scss/pages/_menu.scss */
  .page-menu .page-block.order-form-block .flex-container {
    flex-direction: column;
  }
  /* line 30, ../scss/pages/_menu.scss */
  .page-menu .page-block .sidebar,
  .page-menu .page-block .main-column {
    margin-left: 0;
    width: 100%;
  }
  /* line 36, ../scss/pages/_menu.scss */
  .page-menu .page-block .sidebar {
    max-width: none;
    margin-bottom: 3rem;
  }
}
/* line 43, ../scss/pages/_menu.scss */
.page-menu .sidebar {
  min-width: 275px;
  max-width: 350px;
}
/* line 48, ../scss/pages/_menu.scss */
.page-menu .main-column {
  margin-left: 6rem;
  margin-bottom: 4rem;
  padding-right: 0 !important;
}
@media screen and (max-width: 845px) {
  /* line 56, ../scss/pages/_menu.scss */
  .page-menu .page-intro-secondary-info .flex-container {
    flex-direction: column;
  }
  /* line 60, ../scss/pages/_menu.scss */
  .page-menu .page-intro-secondary-block {
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    border-right: none;
    min-height: 200px;
  }
  /* line 68, ../scss/pages/_menu.scss */
  .page-menu .page-intro-secondary-block.left {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
  }
}

/* line 79, ../scss/pages/_menu.scss */
.page-menu-thanks .page-header {
  background-image: url("../images/brown-paper-dark-1440w.jpg");
}
/* line 82, ../scss/pages/_menu.scss */
.page-menu-thanks .page-header:before {
  display: none;
}

/* line 3, ../scss/pages/_404.scss */
.page-404 .site-page {
  background-image: url("../images/empty-pasture.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
/* line 9, ../scss/pages/_404.scss */
.page-404 .site-page:before {
  content: "";
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 21, ../scss/pages/_404.scss */
.page-404 .page-block {
  padding: 15em 2em;
  position: relative;
  z-index: 10;
}
/* line 26, ../scss/pages/_404.scss */
.page-404 .page-block p {
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (max-width: 780px) {
  /* line 21, ../scss/pages/_404.scss */
  .page-404 .page-block {
    padding: 5em 2em;
  }
}
/* line 37, ../scss/pages/_404.scss */
.page-404 .page-block-heading {
  color: white;
  display: block;
}
/* line 40, ../scss/pages/_404.scss */
.page-404 .page-block-heading:before, .page-404 .page-block-heading:after {
  display: none;
}
