{{ partial "header.html" . }}


<section class="site-page">
  <div class="page-block">
    <div class="container">
      <h2 class="page-block-heading script-heading">Where's the Beef?!</h2>
      <p>
        Sorry friend, looks like there's nothing here.<br>
        <br>
        If you'd like to place an order for pickup, or have any questions, please give us a call!
      </p>
      <h2 class="page-block-heading" style="margin-bottom: 0;">864.707.5731</h2>
      <h2 class="page-block-heading script-heading" style="font-size: 3rem; margin-bottom: 1rem;">&ndash;&nbsp;or&nbsp;&ndash;</h2>
      <a href="/menu" class="btn btn-large">See Our Menu</a>
    </div>

  </div>
</section>


{{ partial "footer.html" . }}