  <footer class="site-footer" role="contentinfo">
    <div class="container flex-container">
      
      <div class="flex-column">

        <div class="footer-section">
          <h4 class="footer-section-heading">Tate Meatworks</h4>
          <a href="https://goo.gl/maps/ijTANS7UCdK2" target="_blank">
            <address>
              435 E Main St.<br>
              Suite #3<br>
              Spartanburg, SC 29302
            </address>
          </a>
        </div><!-- .footer-section -->

        <div class="footer-section">
          <h4 class="footer-section-heading">Store Hours</h4>
          <p class="hours-row">
            <span class="hours-label">Monday - Friday:</span> 10am - 7pm
          </p><!-- .hours-row -->
          <p class="hours-row">
              <span class="hours-label">Saturday:</span> 12pm - 6pm
          </p><!-- .hours-row -->
          <p class="hours-row">
            <span class="hours-label">Sunday:</span> closed
          </p><!-- .hours-row -->
        </div><!-- .footer-section -->

      </div><!-- .flex-column -->

      <div class="flex-column">
        <div class="footer-logo">
          <img src="/images/tate-meatworks-logo.svg" alt="">
        </div><!-- .footer-logo -->
        <a href="mailto:info@tatemeatworks.com" class="footer-contact-info">info@tatemeatworks.com</a>
        <a href="tel:18645415121" class="footer-contact-info">864.541.5121</a>
      </div><!-- .flex-column -->

      <div class="flex-column">
        <h4 class="social-links-heading">
          Leave a Review<br>
          <span class="or">- or -</span><br>
          Follow Us
        </h4><!-- .social-links-heading -->
        <div class="social-links">
          <a href="#" target="_blank"><img src="/images/social-icon-facebook.svg" alt="Follow us on Facebook"></a>
          <a href="#" target="_blank"><img src="/images/social-icon-instagram.svg" alt="Follow us on Instagram"></a>
          <a href="#" target="_blank"><img src="/images/social-icon-google.svg" alt="Leave us a review on Google"></a>
        </div>
      </div><!-- .flex-column -->
    </div><!-- .container -->
  </footer>
  <footer class="copyright" role="contentinfo">
    <p class="copyright-text">Copyright &copy; <span class="copyright-year">2017</span> Tate Meatworks, Inc. All rights reserved.</p>
  </footer>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXX-X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-XXXXXXXX-X');
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
  <script src="/js/jquery.3.2.1.slim.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/site.js"></script>
  <script>
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
  </script>
</body>
</html>