<!DOCTYPE html>
<html lang="en">

{{ if (gt (findRE "404" .Title) 0) }}
  <html class="page-404">
{{ end }}

{{ if isset .Params "htmlclass" }}
  <html{{ with .Params.htmlclass }} class="{{ . }}"{{ end }}>
{{ else }}
  <html class="page-home">
{{ end }}

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111576950-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111576950-1');
  </script>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tate Meatworks{{ with .Title}} | {{ . }}{{ end }}</title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="apple-touch-icon" href="/images/favicon.png">
  <link rel="icon" href=" /images/favicon.png ">

  <link rel="stylesheet" href="/css/main.css">
  <!--
    <link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon.png' %>"/>
    <link rel="icon" href=" <%= asset_path 'favicon.png' %> ">
  -->

  
</head>

<body>
  <div class="upgrade-notice">
    <div class="container">
      <a class="close-btn">&times;</a>
      <h1 class="page-block-heading">Houston, We Have a Problem...</h1>
      <p>It looks like your browser is <em>very</em> out of date. Feel free to continue browsing our site, but since TateMeatworks.com was built using some of the latest and greatest web technology, please be aware that it will not work as intended. For the true Tate Meatworks experience, please upgrade your browser.</p>
      <h2 class="script-heading"><span class="script-heading-text">How To Upgrade Your Browser</span></h2>
      <p>Don't worry, it only takes a minute. Just go to this link, follow the instructions, and come back once you're done</p>
      <a href="https://browser-update.org/update.html" target="_blank" class="btn">Upgrade</a>
    </div>
  </div>
  <header class="site-header" role="banner">
    <a href="/" class="logo-container">
      <img src="/images/tate-meatworks-logo.svg" alt="Tate Meatworks Butcher Shop | Aged & Heritage Breed Offerings">
    </a><!-- .logo-container -->

    {{ $currentNode := . }}
    <nav class="main-nav">
      <div class="container flex-container">
        {{ range .Site.Menus.main }}
            {{ if $currentNode.IsHome }}
                <a href="{{ .URL }}" class="main-nav-link"><span>{{ .Name }}</span></a>
            {{ else }}
              {{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                <a href="{{ .URL }}" class="main-nav-link active"><span>{{ .Name }}</span></a>
              {{ else }}
                <a href="{{ .URL }}" class="main-nav-link"><span>{{ .Name }}</span></a>
              {{ end }}
            {{ end }}
        {{ end }}
        <a href="/menu.html" class="btn">Order Online</a>
      </div><!-- .container -->
    </nav><!-- .main-nav -->
    <a class="mobile-nav-trigger">
      <img src="/images/mobile-nav-trigger.svg">
    </a>
  </header><!-- .site-header -->