.site-footer {
    background: $red-primary;
    color: white;
    padding: 2.5rem 0 4rem;

    .flex-column {
        flex-basis: 33% !important;

        &:nth-child(2n) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    a {
        color: white;
        display: inline-block;
        text-decoration: none;

        &:hover address {
            text-decoration: underline;
        }
    }
}

.footer-section {
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 2.75rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer-section-heading {
    font-size: 1.25rem;
    font-family: 'nexa rust sans';
}

.hours-row {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.25;
}

.hours-label {
    display: inline-block;
    width: 11rem;
}

.footer-logo {
    background: $red-primary;
    box-sizing: border-box;
    border-radius: 100%;
    display: inline-block;
    overflow: hidden;
    padding: 50px 70px 35px;
    position: relative;
    margin-top: -6rem;
    width: 350px;

    img {
        width: 100%;
    }
}

.footer-contact-info {
    color: white;
    font-family: 'nexa rust sans';
    font-size: 1.125rem;
    text-decoration: none;
}

.social-links-heading {
    font-family: 'nexa rust sans';
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: inline-block;

    .or {
        color: #ffa8a8;
        font-family: "yesteryear";
        font-size: 2.25rem;
        line-height: .75;
    }
}

.social-links a {
    margin-right: 1.5rem;

    &:last-child {
        margin-right: 0;
    }
}

.copyright-text {
    color: $red-primary;
    font-size: 1rem;
    margin: .6rem 0 0;

    a {
        color: #c9362e;
    }

    &:last-child {
        margin-top: 0;
        margin-bottom: 0.6rem;
    }

    br {
        display: none;

        @media screen and (max-width: 425px) {
            display: block;
        }
    }
}

.site-footer {

    @media screen and (max-width: 930px) {
        padding-top: 0;

        .flex-container {
            flex-direction: column;
            align-items: center;
        }

        .flex-column:nth-child(1) {
            width: 100%;
            display: flex;
            justify-content: stretch;
            padding-top: 3rem;

            .footer-section {
                flex-basis: 50%;
                padding: 0.5rem 0;
            
                &:nth-child(1) {
                    text-align: right;
                    padding-right: 2rem;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    margin-bottom: 0;
                }

                &:nth-child(2) {
                    padding-left: 2rem;
                }
            }

            @media screen and (max-width: 700px) {
                flex-direction: column;
                min-height: 250px;

                .footer-section {
                    padding: 0 !important;
                    text-align: center !important;
                    border: none;
                    
                    &:nth-child(1) {
                        margin-bottom: 2rem;
                        min-height: 100px;
                    }

                    &:nth-child(2) {
                        min-height: 120px;
                    }
                }

                .hours-row {
                    margin-right: 1rem;

                    &:nth-child(3) .hours-label {
                        margin-left: 4rem;
                    }

                    &:nth-child(4) .hours-label {
                        margin-left: 2rem;
                    }
                }

                .hours-label {
                    width: auto;
                    margin-right: 1rem;
                }
            }
        }

        .flex-column:nth-child(2) {
            order: -1;
            min-height: 340px;
        }

        @media screen and (max-width: 700px) {
            .flex-column:nth-child(3) {
                min-height: 225px;
            }
        }


        .footer-logo {
            margin-top: 0;
        }
    }
}